<h1>About Phoenix</h1>
<hr />
<p><b>This application is designed to help organizations quickly resolve major IT events.</b></p>
<hr />
<%= image_tag("pbird323.gif", alt: "Phoenix") %>
<hr />
<h3><a href="https://github.com/kodywilson/phoenix">Phoenix on GitHub</a></h3>
